:root{
  --main-bg-color: #272727;
}

body{
  background-color: var(--main-bg-color);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.color-choice{
  /*position: relative;*/
  box-shadow: 0px 0px 10px #000;
  /*width: 50vw;*/
  /*height: auto;*/
  /*padding-top: 100%;*/
  /*border-radius: 30px;*/
}

#game-board{
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3vw;
  grid-row-gap: 5vh;
  padding: 5vh;
  box-sizing: border-box;
}

.game-disable{
  pointer-events: none;
}

#orange{
  /*background-color: orange;*/
  border: 15px solid orange;
}

#red{
  /*background-color: red;*/
  border: 15px solid red;
}

#green{
  /*background-color: green;*/
  border: 15px solid green;
}

#blue{
  /*background-color: blue;*/
  border: 15px solid blue;
}

.orangeFill{
  background-color: orange !important;
}

.redFill{
  background-color: red !important;
}

.blueFill{
  background-color: blue !important;
}

.greenFill{
  background-color: green !important;
}

#overlay{
  position: absolute;
  background-color: green;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  /*visibility: hidden;*/
}

input[type=button]{
  background-color: orange;
  width: 50vw;
  height: 20vh;
  outline: none;
  border: none;
  font-size: 5vh;
  font-family: arial;
  color: #fff;
  box-shadow: 0 3px 3px #000;
}

.hidden{
  visibility: hidden;
}
