:root{
  --main-bg-color: rgba(48, 48, 48, 1);
  --overlay-color: rgba(32, 32, 32, 0.9);
  --main-font-color: #F6F6F6;
  --orange: rgba(252, 164, 88, 1);
  --red: rgba(252, 88, 88, 1);
  --blue: rgba(65, 114, 164, 1);
  --green: rgba(62, 178, 116, 1);
}

html{
  font-size: calc(187.5% + 5 * (100vw - 300px) / 700);
  font-family: arial;
}

body{
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*overflow: hidden;*/
}

header{
  width: 100vw;
  min-height: 12vh;
  padding: 2vh 5vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
}

.item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

header button{
  background-color: var(--main-bg-color);
  outline: none;
  border: none;
  font-size: 1rem;
  text-align: left;
}

header button:hover{
  cursor: pointer;
}

.color-choice{
  box-shadow: 0px 0px 10px #000;
  border-radius: 20px;
}

.color-choice:hover{
  cursor: pointer;
}

#game-board{
  height: 88vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3vw;
  grid-row-gap: 5vh;
  padding: 5vh;
  box-sizing: border-box;
}

.game-disable{
  pointer-events: none;
}

#orange{
  border: 15px solid var(--orange);
}

#red{
  border: 15px solid var(--red);
}

#green{
  border: 15px solid var(--green);
}

#blue{
  border: 15px solid var(--blue);
}

.orangeFill{
  background-color: var(--orange) !important;
}

.redFill{
  background-color: var(--red) !important;
}

.blueFill{
  background-color: var(--blue) !important;
}

.greenFill{
  background-color: var(--green) !important;
}

#overlay{
  position: absolute;
  background-color: var(--overlay-color);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*#overlay input[type=button]{*/
#start-btn{
  background-color: rgba(32, 32, 32, 1);
  width: 50vw;
  height: 20vh;
  outline: none;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 1.45rem;
  color: #fff;
}

#round_status{
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

.hidden{
  visibility: hidden;
  display: none;
}

.disable_clicking{
  pointer-events: none;
}

.icon{
  color: var(--main-font-color);
}

@media (max-width: 680px) {
  #start-btn{
    width: 60vw;
  }
}

@media (max-width: 450px) {
  #start-btn{
    width: 80vw;
  }
}
